.container {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    width: 100%;
    margin: 0.8rem auto;
}

.textarea {
    flex: 1;
    padding: 0.6rem 0.8rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-family: inherit;
    font-size: 1rem;
    max-height: 100rem;
    field-sizing: content;
    resize: none;
    scrollbar-width: none;
}

.textarea:focus {
    outline: none;
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.sendButton {
    background-color: #4f46e5;
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    height: fit-content;
}

.sendButton:hover {
    background-color: #4338ca;
}

.ingestButton {
    background-color: #4f46e5;
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    height: fit-content;
}

.ingestButton:hover {
    background-color: #4338ca;
}