body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #f0f0f0;
}

.container h1,
h2,
h3,
p,
ul,
li {
    margin: 5px auto;
}

#root {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    white-space: pre-wrap;
}